---
import ChessGame from '../components/ChessGame';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Instant Chess</title>
  </head>

  <body class="min-h-screen bg-gray-900 text-gray-200">
    <ChessGame client:load />
  </body>
</html>